*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-title{
    font-weight: 900;
    font-size: 45px;
}
nav li{
    list-style: none;
    margin: 0px 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
.text-primary{
    color: #fd6e0a;
}
.btn-primary{
height: 64px;
border-radius: 5px;
background: #fd6e0a;
color: white;
font-weight: 700;
font-size: 20px;
border: 0;
padding: 18px 36px;
}
.banner{
    margin: 0px 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
    color: #757575;
}
.banner-desc{
    color: #757575;
    margin-bottom: 30px;
}
.header{
    background:#fff8f3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;

}
section{
    margin-top: 30px;
}
.about{
 /* margin-top: 130px; */
 background: #fff8f3;
 border-radius: 10px;
 padding: 130px 150px;
 text-align: center;
}
.section-title{
   text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}
.section-desc{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
main{
    max-width: 1140px;
    margin: 0px auto;
}
.about-into-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-desc{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-desc{
    color: #757575;
}
.skill{
    background-color: white;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.resume-content{
    display: flex;
    gap: 24px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px ;
}
.resume .desc{
    color: #757575;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.rb{
    margin-top: 50px;
    text-align: center;
}
.contact{
    display: flex;
    gap: 100px;
    background: #fff8f3;
    padding: 130px 180px;
}
.contact .section-title{
    text-align: left;
}
.contact input[type="text"],input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}